.traffic-light{
border: 5px;
border-style: solid;
height: 200px;
width: 50px;
}

.light{
height: 40px;
width: 40px;
border-radius: 50%;
margin-top: 5px;
margin-bottom: 5px;
border: 2px;
}

.on{
    box-shadow: 10px 10px 15px 47px rgba(202,201,133,0.75);
    -webkit-box-shadow: 10px 10px 15px 47px rgba(202,201,133,0.75);
    -moz-box-shadow: 10px 10px 15px 47px rgba(202,201,133,0.75);

}

.red{
background-color: red;
}

.yellow{
background-color: yellow;
}

.green{
background-color: green;
}
